# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=4c22bebf725db7203366eed3e33d6b4f
###< symfony/framework-bundle ###







# Docker-compose variables:
GITHUB_API_TOKEN=7bbbc8725cb1f563fac84dfae517557caa523ecf

COOKIE_BACKEND_VALIDATION_KEY=jdsfkjs234dkfahsdy823
COOKIE_FRONTEND_VALIDATION_KEY=0934850ifhjrhf948fewf4

MYSQL_HOST=db
MYSQL_DATABASE=2children
MYSQL_USERNAME=2children
MYSQL_PASSWORD=2children
MYSQL_TEST_HOST=db_test
MYSQL_TEST_DATABASE=2children
MYSQL_TEST_USERNAME=2children
MYSQL_TEST_PASSWORD=2children

SBERBANK_USE_TEST_SERVER=true
SBERBANK_LOGIN=T1400007690-api
SBERBANK_PASSWORD=T1400007690
YOOMONEY_LOGIN=979146
YOOMONEY_PASSWORD=test_YIjQ4FG6Ff42fuQl8K4rkPiVMWTgN7THtaGqcw4_VSc

EMAIL_USE_FILE_TRANSPORT=false
EMAIL_TRANSPORT_HOST=smtp.yandex.com
EMAIL_TRANSPORT_USERNAME=bot2children@yandex.com
EMAIL_TRANSPORT_PASSWORD=jvutnkyvezyjzxek
EMAIL_TRANSPORT_PORT=465
EMAIL_TRANSPORT_ENCRYPTION=SSL

DOMAIN=localhost:3010
HEAD_DOMAIN=http://localhost:3010

ALLOWED_HOST=localhost
ENABLE_GOOGLE_STAT=false
ENABLE_FIXTURES=true

API_JWT_DOMAIN_CHECK=true
API_JWT_DOMAIN_FRONT=http://localhost:3010
API_JWT_DOMAIN_API=http://localhost:3010
API_JWT_SECRET_KEY=07h@m4F$V*G^eq013@u2OaN4rLxTE24uM!Y!0$y9@2%vq2JPEO